<!DOCTYPE html>
<html>
<head lang="en-GB">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">

  <title>Page not found | Etonians</title>
</head>

<body>
  <div class="error-404">
    <div class="sky">
      <h2><span>4</span><span>0</span><span>4</span></h2>
      <div class="grass"></div>
      <img src="../../static/images/plane.png" class="plane">
    </div>

    <div class="field">
      <h2>Oops... looks like you got lost.</h2>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.home') }}">Back to safety</a>
      {% else %}
        <a href="{{ url_for('users.login') }}">Back to safety</a>
      {% endif %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
