@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/** General CSS for the whole of About Page **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-20 { margin-top: 20px; }

.mb-20 { margin-bottom: 20px; }

.mb-30 { margin-bottom: 30px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.pb-35 { padding-bottom: 35px; }

.mt-70 { margin-top: 70px; }

.py-15 { padding-top: 15px; padding-bottom: 15px; }

h1, h2, h3, h4 {
  color: #151515;
  font-weight: 700;
}

p {
  color: #777;
  line-height: 1.6;
}

span, a {
  display: inline-block; /* inline-block is basically inline, but also supports margin and padding */
}

/** Navbar CSS **/
.navbar {
  padding: 15px 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

@media screen and (max-width: 575px) {
  .navbar .container {
    max-width: 100%;
  }

  .navbar .custom-logo {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 16px;
  }

  .nav-scroll .navbar-toggler div {
    background-color: #333 !important;
  }

  .navbar .navbar-collapse {
    overflow: hidden;
    background-color: #111;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
  }

  .navbar .navbar-collapse ul li a:hover {
    color: #3498db !important;
  }

  .nav-scroll .navbar-collapse {
    background-color: #fff !important;
  }
}

.navbar .custom-logo {
  background-color: #1957f3;
  color: #fff;
  text-align: center;
  padding: 0 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2;
  transform: skewX(30deg);
}

.navbar .custom-logo span {
  transform: skewX(-30deg);
}

.navbar-dark .navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
}

@media screen and (min-width: 576px) {
  .navbar-dark .navbar-nav li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }

  .navbar-dark .navbar-nav li a:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .nav-scroll .navbar-nav li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s;
  }
  
  .nav-scroll .navbar-nav li a:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

.nav-scroll {
  background-color: #fff;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}

.nav-scroll .navbar-nav li a {
  display: inline-block;
  color: #333 !important;
}

/* deletes the border around the navbar toggler */
.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-toggler div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* navbar toggler animation */
.navbar .toggle .navbar-toggler-line1 {
  transform: rotate(-45deg) translate(-5px, 6px)
}

nav .toggle .navbar-toggler-line2 {
  opacity: 0;
}

nav .toggle .navbar-toggler-line3 {
  transform: rotate(45deg) translate(-5px, -6px)
}

/** CSS for the first stage of About Page **/
.cover-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner { /* linear-gradient darkens out the background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/eton_college.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/* "caption" class is the text on the first stage of About Page */
.banner .caption h4 {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.banner .caption h2 {
  color: #fff;
  font-size: 70px;
  letter-spacing: -2.5px; /* makes the letters closer together */
  font-family: "Roboto", sans-serif;
}

.banner .caption p {
  font-size: 17px;
  color: #fff;
  line-height: 32px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px) {
  .banner .caption h4 {
    font-size: 21px;
  }

  .banner .caption h2 {
    font-size: 60px;
  }

  .banner .caption p {
    font-size: 21px;
  }
}

@media screen and (max-width: 575px) {
  .banner .caption h4 {
    font-size: 15px;
  }

  .banner .caption h2 {
    font-size: 45px;
  }

  .banner .caption p {
    font-size: 15px;
  }
}

/* social media icons */
.banner .caption .social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
}

.banner .caption .social-icon a i {
  color: rgb(121, 121, 121);
  font-size: 19px;
  vertical-align: middle;
  padding-top: 11px;
  transition: all 0.2s;
}

.banner .caption .social-icon a i:hover {
  color: rgb(185, 185, 185);
}

/** CSS for the second stage of About Page **/
.section-padding {
  padding: 20px 0;
}

/* title text for the second stage of About Page */
.section-title {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
}

.section-title p {
  background-color: #1957f3;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 12px;
  letter-spacing: 1px;
}

.section-title h3 {
  position: relative;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.14;
  letter-spacing: 1.4px;
  padding-bottom: 13px;
}

/* the picture in the second stage of About Page */
.about .part-photo img {
  width: 450px;
  height: auto;
}

.about .part-text h4 {
  margin-top: 60px;
  font-size: 24px;
}

.about .part-text p {
  border-bottom: 1px solid #f1f1f1
}

/* buttons */
.btn {
  color: #fff;
  background-color: #1957f3;
  border: 2px solid #1957f3;
  border-radius: 0;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 0 #fff; /* box-shadow: x-offset y-offset blur effect spread-radius colour */
  letter-spacing: 1px;
  font-size: 14px;
  transition: all 0.8s;
}

.btn:hover { /* changing the x-offset, giving the button a nice "swipe" animation */
  box-shadow: inset 12em 0 0 0 #fff;
  color: #1957f3;
}

.features .features-box {
  border: 1px solid #fafafa;
  transition: all 0.5s;
}

.features .features-box:hover {
  box-shadow: -7px 7px 10px 0 rgba(0, 0, 0, 0.1)
}

.features .box {
  position: relative;
  padding: 50px;
}

.features .features-box .icon i {
  color: #1957f3;
  font-size: 38px;
}

.features .box-title {
  position: relative;
  margin-top: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  overflow: hidden;
}

.features .box-title::before {
  content: "";
  display: inline-block;
  width: 15%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(91, 52, 255, 0.2);
}

.features .services-box::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-top: 50px solid transparent;
  border-bottom: 50px solid #f7f7f7;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

/* footer section css */
.footer {
  background-color: #212121;
  padding: 50px 0;
}

.footer .social-icon {
  margin: 0 auto;
  width: 100%
}

.footer .social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #252525;
  transition: all 0.5s;
}

.footer .social-icon a:hover {
  background-color: #1957f3;
}

.footer .social-icon a i {
  color: #fff;
  font-size: 14px;
}

.footer .copy {
  width: 100%;
  padding-top: 30px;
}

.footer .copy h6 {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
