@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  color: #333;
  background-color: #eee;
  margin-top: 5rem; /* there is 5rem of spacing between Navbar and Block Content */
}

#main {
  margin-top: 25px;
}

#sidebar {
  margin-top: 25px;
}

/** Navbar CSS **/ 
/* this styles the user profile picture on the Navbar */
.navbar-account-img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 575px) {
  .navbar .container {
    max-width: 100%;
  }

  .navbar .custom-logo {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 16px;
  }

  .nav-scroll .navbar-toggler span {
    color: #333 !important;
  }

  .navbar .navbar-collapse {
    overflow: hidden;
    background-color: #111;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
  }

  .nav-scroll .navbar-collapse {
    background-color: #fff !important;
  }
}

.navbar .custom-logo {
  background-color: #1957f3;
  color: #fff;
  text-align: center;
  padding: 0 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 0;
  background: transparent;
}

.nav-scroll {
  background-color: #fff;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}

.nav-scroll .navbar-nav li a {
  display: inline-block;
  color: #333 !important;
}

.nav-scroll .navbar-nav li.nav-underline a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s;
}

.nav-scroll .navbar-nav li.nav-underline a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-toggler span {
  color: #fff;
}

.post, .content-section {
  background-color: rgb(255, 255, 255); /* the background colour of Block Content and Sidebar is pure white (#fff) */
  padding: 20px; /* 20 pixels of padding all around the text, in both Block Content and Sidebar */
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 35px;
}

.content-section.sidebar {
  background-color: rgb(236, 236, 236);; /* the background colour of Block Content and Sidebar is pure white (#fff) */
  padding: 20px; /* 20 pixels of padding all around the text, in both Block Content and Sidebar */
  border: 1px solid #ddd; /* 1 pixel of border around the Sidebar */
  border-radius: 3px;
  margin-bottom: 20px;
  width: 335px;
}

/** Posts CSS **/
.article-metadata .post-author {
  font-size: 25px;
}

.article-metadata p {
  display: inline-block;
  font-size: 15px;
  margin-left: 20px;
}

.article-metadata .dropdown {
  float: right;
  margin-top: 5px;
}

.article-metadata .dropdown-menu {
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.article-metadata .dropdown-button {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  padding: 0;
}

.article-metadata .dropdown-text {
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
  margin-top: 5px;
  padding: 0;
}

.article-metadata .dropdown .dropdown-btn {
  color: rgb(122, 122, 122);
}

.article-metadata .dropdown .dropdown-btn::after {
  content: none;
}

.article-metadata .dropdown .dropdown-btn .material-icons {
  color: rgb(94, 94, 94)
}

a.article-title {
  color: #444;
}

a.article-title:hover {
  text-decoration: none;
}

.article-content {
  margin-top: 33px;
  white-space: pre-line;
  line-height: 23px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3; /* 1 pixel of border underneath the author of a post */
}

.article-metadata a:hover {
  color: #333; /* when hovering mouse over the author of a post, the text turns from blue to #333 */
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.post .bottom-text {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

.post .bottom-text .row {
  padding-top: 15px;
}

.post .bottom-text .row button {
  padding: 0;
  border: none;
  background: none;
}

.post .bottom-text .row button:focus, .post .bottom-text .row button:active {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.post .bottom-text .row span.material-icons-outlined {
  display: inline-block;
  color: rgb(117, 117, 117);
  font-size: 1.5em;
  vertical-align: middle;
  margin-bottom: 0;
  padding: 0;
}

.post .bottom-text .row p {
  display: inline-block;
  color: rgb(117, 117, 117);
  font-size: 1em;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 0;
}

/** Account page CSS **/
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2rem;
  margin-top: 10px;
}

/* #user-info {
  padding-top: 20px;
  padding-right: 500px;
}

#user-info2 {
  padding-right: 555px;
  padding-top: 0;
} */

/* styles the information about a user on user's page */
#border-around {
  border: 1px solid #e8e8e8;
  border-radius: 30px;
  padding: 30px;
}

/** View post bar CSS **/
.post-bar {
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
}

.post-bar .container .btn-back {
  position: absolute;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-left: 15px;
  font-weight: 600;
}

.post-bar .container .btn-text {
  margin-left: 30px;
  margin-top: 17px;
  font-size: 22px;
  font-weight: 550;
}

@media (max-width: 760px) {
  #main {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}

.google-signin {
  float: right;
}

/* footer section css */
.footer {
  background-color: #212121;
  padding: 80px 0;
  margin-top: 40px;
}

.footer .logo {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 0;
}

.footer .logo .custom-logo {
  background-color: #1957f3;
  color: #fff;
  text-align: center;
  padding: 0 25px;
  letter-spacing: 1px;
  line-height: 2;
}

.footer .social-icon {
  margin: 0 auto;
  width: 100%
}

.footer .social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #252525;
  transition: all 0.5s;
}

.footer .social-icon a:hover {
  background-color: #1957f3;
}

.footer .social-icon a i {
  color: #fff;
  font-size: 14px;
}

.footer .copy {
  width: 100%;
  padding-top: 30px;
}

.footer .copy h6 {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/** 404 error page CSS **/
.error-404 {
  background: linear-gradient(0deg, #fff, #03a9f4);
}

.error-404 .sky {
  position: relative;
  widows: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-404 .sky h2 {
  font-size: 16em;
  color: #fff;
}

.error-404 .sky h2 span {
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
}

.error-404 .sky h2 span:nth-child(even) {
  animation-delay: -1s;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(50px);
  }
}

.error-404 .sky .grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: url("../images/grass.png");
  background-position: bottom;
  animation: animateGrass 0.2s linear infinite;
}

@keyframes animateGrass {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -94px 0;
  }
}

.error-404 .sky .plane {
  position: absolute;
  bottom: 200px;
  left: 100px;
  top: 10px;
  max-width: 300px;
  transform: scaleX(-1);
}

.error-404 .field {
  padding: 100px;
  height: 40vh;
  background: #6e2308;
  box-shadow: inset 0 20px 10px #51680c;
  text-align: center;
}

.error-404 .field h2 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}

.error-404 .field a {
  background: #fff;
  color: #000;
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}
