@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1da1f2;
}

.material-icons, .material-icons-outlined {
  opacity: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #eee;
  font-family: "BlinkMacSystemFont", "Calibri", sans-serif;
  padding-top: 80px;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

body.modal-open {
  overflow: hidden !important;
}

@media screen and (max-width: 570px) {
  .text-field-modal {
    padding: 0 !important;
  }
  .text-field-modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .text-field-modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .text-field-modal .modal-body {
    overflow-y: auto;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 65px;
  }
}

body #all-content {
  overflow-x: hidden;
}

#main, #sidebar {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #main {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}
