@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #eee;
  font-family: "BlinkMacSystemFont", Arial, sans-serif;
  padding-top: 80px;
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 65px;
  }
}

body #all-content {
  overflow-x: hidden;
}

#main, #sidebar {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #main {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}
