@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

nav.top-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 1px 8px 3px rgba(95, 69, 69, 0.15);
  font-family: "Open Sans", sans-serif;
}

nav.bottom-navbar {
  display: none;
}

nav.top-navbar .logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: 600;
}

nav.top-navbar .logo a {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

nav.top-navbar ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 13px;
}

nav.top-navbar ul li a.navbar-link-lg {
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-size: 23px;
}

nav.top-navbar ul li a.navbar-link-sm {
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
}

nav.top-navbar ul li a:hover {
  color:  #1da1f2 !important;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 576px) {
  nav.top-navbar {
    height: 70px;    
  }

  nav.top-navbar .logo {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
  }

  nav.top-navbar ul {
    display: none;
  }

  nav.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
    overflow-x: auto;
    z-index: 1030;
    border-top: 1px solid rgb(221, 221, 221);
    border-color: rgba(221, 221, 221, 0.5);
  }
  
  nav.bottom-navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    font-size: 20px;
    color: rgb(95, 95, 95);
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
  }
  
  nav.bottom-navbar a:hover {
    background-color: #ccc;
  }
}
