{% macro simple_modal(modal_identifier, modal_title, modal_body) %}
  <div class="modal fade" id="deleteModal{{ modal_identifier }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{{ modal_title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          {{ modal_body }}
        </div>
        
        <div class="modal-footer">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
