@charset "UTF-8";

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.account-heading {
  font-size: 2rem;
  margin-top: 10px;
}

.form-group #file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-group label[for="file"] i {
  font-size: 45px;
  margin-left: 10px;
  color: rgb(95, 95, 95);
}

.form-group label[for="file"] p {
  display: inline-block;
  color: rgb(95, 95, 95);
  margin-left: 5px;
  margin-bottom: 0;
}

.form-group #file:focus + label,
.form-group #file + label:hover {
  cursor: pointer;
}

fieldset.form-group {
  margin-top: 35px;
}
