@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.top-navbar, bottom-navbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 7%;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  box-shadow: 0 1px 8px 3px rgba(95, 69, 69, 0.15);
  font-family: var(--default-font);
}

.bottom-navbar {
  display: none;
}

.top-navbar > .logo {
  text-decoration: none;
}

.top-navbar > .logo > img {
  cursor: pointer;
  height: 40px;
  width: auto;
}

.top-navbar > .nav-links {
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.top-navbar .nav-links .btn-solid {
  width: 130px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9em;
  background-color: #02af98;
  color: #fff;
  transition: background-color 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.top-navbar .nav-links .btn-solid:hover {
  background-color: #119482;
}

.top-navbar .nav-links .btn-solid > i {
  font-size: 1.1em;
}

.top-navbar .nav-links > li.background-darken {
  border-radius: 25px;
  transition: 0.3s;
  margin-left: 12px;
  cursor: pointer;
}

.top-navbar > .nav-links > li.background-darken:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.top-navbar > .nav-links > li > a {
  text-decoration: none;
}

.top-navbar > .nav-links > li.background-darken > a {
  color: rgb(95, 95, 95);
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links > li > a > i {
  font-size: 1.5em;
  margin-right: 5px;
}

.nav-links > li > a > span {
  font-size: 1em;
}

.nav-links > li > a > i.active,
.nav-links > li > a > span.active {
  color: var(--primary-colour);
  font-weight: 600;
}

.top-navbar > .nav-links > .search-bar-container {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.top-navbar > .nav-links > .search-bar-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.top-navbar .search-bar-container > a > span {
  color: rgb(95, 95, 95);
  font-size: 1em;
  margin: 0;
}

.top-navbar .search-bar-container > a > span::before {
  margin: 0;
}

.top-navbar .search-bar {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  z-index: 99;
  display: none;
  border: 2px solid #bbb;
  border-radius: 10px;
}

.top-navbar .search-bar.active {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.top-navbar .search-bar.active > button {
  border: none;
  outline: none;
  background: none;
  margin-bottom: 12px;
}

.top-navbar .search-bar.active > button.active {
  outline: none;
}

.top-navbar .search-bar.active span {
  color: #acacac;
  transition: 0.5s;
  font-size: 1.em;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.top-navbar .search-bar.active > form > .text-input {
  background: none;
  outline: none;
  border: none;
  line-height: 60px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #333;
  padding-bottom: 3px;
  width: 100%;
}

.top-navbar .search-bar.active > form > .text-input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.top-navbar .input-field {
  background-color: #f0f0f0;
  height: 45px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 0 0.4rem;
  margin-left: 16px;
  margin-right: 35px;
  flex: 1;
}

@media (max-width: 1050px) {
  .top-navbar .input-field {
    grid-template-columns: 2fr 8fr;
  }
}

@media (max-width: 910px) {
  .top-navbar .btn-solid {
    margin-left: 20px;
  }
  
  .top-navbar .nav-links .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-navbar .input-field {
    display: none;
  }
}

@media (max-width: 800px) {
  .top-navbar > .nav-links > .background-darken > a > span {
    display: none;
  }
}

.top-navbar .input-field i {
  text-align: center;
  line-height: 45px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.top-navbar .input-field .text-input {
  background: none;
  outline: none;
  border: none;
  line-height: 45px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #333;
  width: 100%;
}

.top-navbar .input-field .text-input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.top-navbar .sized-box {
  visibility: hidden;
  pointer-events: none;
}

.top-navbar .sized-box .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Profile picture dropdown CSS */
.top-navbar .menu-container {
  position: fixed;
  top: 10px;
  right: 75px;
  z-index: 98;
}

.top-navbar .menu-container > .profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 640px) {
  .top-navbar {
    justify-content: space-between;
  }

  .top-navbar .nav-links li.background-darken,
  .top-navbar .sized-box,
  .top-navbar .menu-container {
    display: none;
  }

  .top-navbar .nav-links .btn-solid {
    width: 40px;
    height: 40px;
  }

  .top-navbar .nav-links .btn-solid span {
    display: none;
  }

  .top-navbar .nav-links .btn-solid i,
  .top-navbar .nav-links .btn-solid i::before {
    margin: 0;
  }
}

@media (max-width: 360px) {
  .top-navbar .nav-links {
    margin-left: 0;
  }
}

.menu-container > .profile > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-navbar .menu-container .menu {
  position: absolute;
  top: 80px;
  right: -18px;
  padding: 10px 20px;
  background-color: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

.top-navbar .menu-container .menu.active {
  top: 60px;
  visibility: visible;
  opacity: 1;
}

.top-navbar .menu-container .menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 28px;
  width: 17px;
  height: 17px;
  background-color: #fff;
  transform: rotate(45deg);
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.menu-container .menu > h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  line-height: 1.3em;
  padding-top: 10px;
}

.menu-container .menu > h3 span {
  font-size: 16px;
  color: #b1b1b1;
  font-weight: 400;
}

.menu-container .menu ul {
  margin-top: 16px;
}

.menu-container .menu ul li {
  list-style-type: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  direction: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-container .menu ul li:hover {
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.menu-container .menu ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 10px 10px;
}

.menu-container .menu ul li a i {
  max-width: 20px;
  margin-right: 15px;
}

@media (max-width: 640px) {
  .top-navbar .search-bar {
    width: 100%;
  }
  
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
    overflow-x: auto;
    z-index: 98;
    border-top: 1px solid rgb(221, 221, 221);
    border-color: rgba(221, 221, 221, 0.5);
  }
  
  .bottom-navbar > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    min-width: 50px;
    font-size: 20px;
    color: rgb(95, 95, 95);
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .bottom-navbar > a:active, .bottom-navbar > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .bottom-navbar > a.active {
    color: var(--primary-colour);
  }

  .bottom-navbar > a > span {
    font-size: 14px;
  }
}
