@charset "UTF-8";

.post, .content-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 35px;
}

.content-section.sidebar {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: fixed;
  width: 350px;
}

.article-metadata .post-author {
  font-size: 25px;
  color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
}

.article-metadata .post-author:hover {
  color: var(--main-color);
  background-color: #dceefa;
  transition: 0.2s ease-out;
}

.article-metadata p {
  display: inline-block;
  font-size: 15px;
  margin-left: 20px;
}

.article-metadata .dropleft {
  float: right;
  margin-top: 5px;
}

.article-metadata .dropleft .dropdown-btn::before {
  content: none;
}

.article-metadata .dropleft .dropdown-btn:focus {
  outline: none;
}

.article-metadata .dropleft .dropdown-btn .material-icons {
  color: rgb(122, 122, 122);
  font-size: 26px;
}

.article-metadata .dropleft .dropdown-menu {
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.article-metadata .dropleft .dropdown-menu a span {
  display: inline-block;
  font-size: 1.5em;
  padding: 0;
}

a.article-title {
  color: #444;
}

a.article-title:hover {
  text-decoration: none;
}

.article-content {
  margin-top: 33px;
  white-space: pre-line;
  line-height: 23px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  border-radius: 50%;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.post .bottom-text {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.post .bottom-text .button-container {
  padding-top: 15px;
  display: flex;
}

.post .bottom-text .button-container span {
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(85, 85, 85);
}

.post .bottom-text .button-container label,
.post .bottom-text .button-container a {
  color: rgb(117, 117, 117);
}

/* View post bar CSS */
.post-bar {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.post-bar a i {
  color: var(--main-color);
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}

.post-bar a i:hover {
  background-color: #dceefa;
  transition: 0.1s ease-out;
}

.post-bar span {
  position: absolute;
  top: 5%;
  transform: translateY(-5%);
  font-size: 21px;
  padding-left: 30px;
  color: #333;
}

/* Comment CSS */
.comment-container {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}

.comment-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-container a {
  font-size: 22px;
  color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
}

.comment-container a:hover {
  background-color: #dceefa;
  transition: 0.2s ease-out;
}

.comment-container p.comment-title {
  padding-left: 50px;
  font-size: 22px;
}

.comment-container p.comment-content {
  padding-left: 50px;
}

/* Create post CSS */
.filter_year_group {
  margin-top: 20px;
}

.filter_year_group h5 {
  font-weight: 400;
  font-size: 16px;
}

.filter_year_group .filter_year_group_choice {
  display: block;
}

.filter_year_group .filter_year_group_choice label {
  padding-left: 5px;
}
