<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

  <title>About | Etonians</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark navbar-js">
    <div class="container">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.home') }}" class="navbar-brand custom-logo"><span>Etonians</span></a>
      {% else %}
        <a href="{{ url_for('users.login') }}" class="navbar-brand custom-logo"><span>Etonians</span></a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-line1"></div>
        <div class="navbar-toggler-line2"></div>
        <div class="navbar-toggler-line3"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('main.donate') }}">Donate</a>
            </li>
          {% else %}
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <section class="banner cover-bg">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 caption text-center">
          <h4 class="mt-20 mb-20">Our task is to make the act of sharing school notifications easy and accessible.</h4>
          <h2 class="mt-20">Etonians.co.uk</h2>
          <p>We believe in the power of unity and collaboration.</p>
          
          <div class="social-icon text-center mt-30">
            <a href="https://www.youtube.com/simbashi" target="_blank"><span><i class="fab fa-youtube"></i></span></a>
            <a href="https://www.instagram.com/shi.simba" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
            <a href="https://www.twitter.com/simba_shi" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about section-padding pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 section-title text-center">
          <p>About Us</p>
          <h3>Who are we?</h3>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="part-photo">
            <img class="img-fluid" src="../static/images/teaching.jpg">
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="part-text">
            <h4 class="mb-30">Hello</h4>
            <p class="pb-35">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, et nobis deleniti, nostrum natus libero, qui rerum explicabo ipsam impedit reprehenderit quaerat fuga dolore ipsa quas similique obcaecati corporis delectus minima! Dicta ea, possimus rerum non quasi quis quisquam facilis, distinctio excepturi minus porro error vitae deserunt esse reiciendis.</p>
            <a href="#" class="btn button">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features section-padding mt-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 py-15">
          <div class="features-box box">
            <div class="icon">
              <i class="fas fa-laptop"></i>
            </div>

            <div class="text">
              <h4 class="box-title mb-20">Data Security & Protection</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rerum facilis deleniti ab ex a voluptatum est, reprehenderit cum nostrum.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 py-15">
          <div class="features-box box">
            <div class="icon">
              <i class="fas fa-user-friends"></i>
            </div>

            <div class="text">
              <h4 class="box-title mb-20">Anonymous Forum</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rerum facilis deleniti ab ex a voluptatum est, reprehenderit cum nostrum.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 py-15">
          <div class="features-box box">
            <div class="icon">
              <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="text">
              <h4 class="box-title mb-20">Eton College Only</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rerum facilis deleniti ab ex a voluptatum est, reprehenderit cum nostrum.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 py-15">
          <div class="features-box box">
            <div class="icon">
              <i class="fas fa-pound-sign"></i>
            </div>

            <div class="text">
              <h4 class="box-title mb-20">Pricing</h4>
              <p>Etonians.co.uk is and will always be free to use!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="social-icon text-center">
          <a href="https://www.youtube.com/simbashi" target="_blank"><span><i class="fab fa-youtube"></i></span></a>
          <a href="https://www.instagram.com/shi.simba" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
          <a href="https://www.twitter.com/simba_shi" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
        </div>

        <div class="copy">
          <h6>Copyright © Simba Shi 2020</h6>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/about.js') }}"></script>
</body>
</html>
