<!DOCTYPE html>
<html>
<head lang="en-GB">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register_login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">

  <!-- If given a title in "routes.py" file, then title. Otherwise, just "Etonblog" -->
  {% if title %}
    <title>{{ title }} | Etonians</title>
  {% else %}
    <title>Etonians</title>
  {% endif %}
</head>

<body>
  <nav>
    <div class="logo">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.home') }}">Etonians</a>
      {% else %}
        <a href="{{ url_for('users.login') }}">Etonians</a>
      {% endif %}
    </div>

    <ul class="nav-links">
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('posts.create_post') }}"><i class="far fa-edit"></i></a></li>
        <li><a href="{{ url_for('main.home') }}"><i class="far fa-home"></i></a></li>
        <li><a href="{{ url_for('main.about') }}"><i class="far fa-info-circle"></i></a></li>
        <li><a href="{{ url_for('users.account') }}"><i class="far fa-user-circle"></i></a></li>
      {% else %}
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="{{ url_for('users.login') }}">Login</a></li>
        <li><a href="{{ url_for('users.register') }}">Register</a></li>
      {% endif %}
    </ul>

    <div id="navbar-toggler">
      <div class="navbar-toggler-line1"></div>
      <div class="navbar-toggler-line2"></div>
      <div class="navbar-toggler-line3"></div>
    </div>
  </nav>

  <!-- Main body of the webpage -->
  <main role="main" class="container">
    <div class="row">
      {% block content %}
      {% endblock content %}

      {% block sidebar %}
      {% endblock sidebar %}
    </div>
  </main>

  <footer class="footer text-center">
    <div class="row">
      <div class="social-icon text-center">
        <a href="https://www.youtube.com/simbashi" target="_blank"><span><i class="fab fa-youtube"></i></span></a>
        <a href="https://www.instagram.com/shi.simba" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
        <a href="https://www.twitter.com/simba_shi" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
      </div>

      <div class="copy">
        <h6>Copyright © Simba Shi 2020. All rights reserved.</h6>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
