{% extends "base.html" %}
{% block content %}
  <div class="col-md-8" id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mt-0">
          <legend class="border-bottom mb-4">Edit Reply</legend>
          <div class="form-group">
            {{ form.title.label }}
            {% if form.title.errors %}
              {{ form.title(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
            <ul class="ml-4">
              <li><small class="text-muted">Must be less than 500 characters long.</small></li>
            </ul>
          </div>

          <div class="form-group">
            {{ form.content.label }}
            {% if form.content.errors %}
              {{ form.content(class="form-control form-control-lg is-invalid", rows="7", cols="100") }}
              {% for error in errors %}
                <span>{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ form.content(class="form-control", rows="7", cols="100") }}
              <ul class="ml-4">
                <li><small class="text-muted">This field must not be empty.</small></li>
              </ul>
            {% endif %}
          </div>
        </fieldset>
        
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4" id="sidebar">
    <div class="content-section sidebar">
      <h3>Latest Info</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Updates</li>
          <li class="list-group-item list-group-item-light">Events</li>
        </ul>
      </p>
    </div>
  </div>
{% endblock sidebar %}
