{% extends "base.html" %}
{% block content %}
  <div class="col-12" id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    <br>
    <div class="content-section">
      <form method="POST" action="">
        <!-- form.hidden_tag() is another step of password security and encryption -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
              <!-- is-invalid class creates a red border around the textbox -->
              {{ form.password(class="form-control form-control-lg is-invalid") }}
              <!-- invalid-feedback class makes the error message red instead of black -->
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
              <!-- is-invalid class creates a red border around the textbox -->
              {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
              <!-- invalid-feedback class makes the error message red instead of black -->
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>

    <div class="pt-1">
      <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
      </small>
    </div>
  </div>
{% endblock content %}
