{% extends "base.html" %}
{% block content %}
  <div class="col-md-8" id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="content-section">
      <form method="POST" action="" autocomplete="off">
        <!-- form.hidden_tag() is another step of password security and encryption -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group mt-0">
          <legend class="border-bottom mb-4">Update Password</legend>
          <div class="form-group pt-2">
            {{ form.old_password.label }}
            {% if form.old_password.errors %}
              {{ form.old_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.old_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.old_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group pt-2">
            {{ form.new_password.label }}
            {% if form.new_password.errors %}
              {{ form.new_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.new_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.new_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group pt-2">
            {{ form.confirm_new_password.label }}
            {% if form.confirm_new_password.errors %}
              {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_new_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_new_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>

        <div class="form-group">
          {{ form.submit_button(class="btn btn-outline-info") }}
        </div>

        <small class="text-muted">
          <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
        </small>
      </form>
    </div>
  </div>
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4" id="sidebar">
    <div class="content-section sidebar">
      <h3>Latest Info</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Updates</li>
          <li class="list-group-item list-group-item-light">Events</li>
        </ul>
      </p>
    </div>
  </div>
{% endblock sidebar %}
