{% extends "base.html" %}
{% block content %}
  <div class="col-12" id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>

      <!-- the enctype attribute specifies how the form-data should be encoded when submitting it to the server -->
      <form method="POST" action="" enctype="multipart/form-data" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <input type="file" accept=".png, .jpg, .jpeg, .gif" id="file" name="profile-picture" onchange="form.submit()">
          <label for="file">
            <i class="fas fa-images"></i>
            <p>Click to change your profile picture</p>
          <label>
        </div>

        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Update Profile</legend>
          <div class="form-group">
            {{ form.username.label }}
            {% if form.username.errors %}
              <!-- is-invalid class creates a red border around the textbox -->
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <!-- invalid-feedback class makes the error message red instead of black -->
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <a href="{{ url_for('users.update_password') }}">Update Password</a>
        </fieldset>

        <div class="form-group">
          <!-- "btn-outline-info" class is a button with a light blue outline -->
          {{ form.submit_button(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
