<!DOCTYPE html>
{% from "components/modal.html" import simple_modal %}
<html>
<head lang="en-GB">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
  <meta name="theme-color" content="#02AD98">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flashed_message.css') }}">

  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/logo_square.png') }}">
  <link rel="shortcut icon" href="#">

  <!-- If given a title in "views.py" file, then title. Otherwise, just "Etonians" -->
  {% if title %}
    <title>{{ title }} | Etonians</title>
  {% else %}
    <title>Etonians</title>
  {% endif %}
</head>

<body ontouchstart>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flashed-message active {{ category }}">
          <div class="message-icon">
            {% if category == "danger" %}
              <span class="fas fa-exclamation-circle"></span>
            {% elif category == "warning" %}
              <span class="fas fa-exclamation-triangle"></span>
            {% elif category == "success" %}
              <span class="fas fa-check-circle"></span>
            {% else %}
              <span class="fas fa-info-circle"></span>
            {% endif %}
          </div>
          <div class="message">
            <span>{{ message }}</span>
          </div>
          <div class="close-button">
            <span><i class="fas fa-times"></i></span>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div id="all-content">
    <header class="top-navbar">
      <a href="{{ url_for('main.home') }}" class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
      </a>
      
      <ul class="nav-links">
        <li class="search-bar-container"><a>
          <span><i class="far fa-search"></i></span>
        </a></li>
        <li>
          <div class="search-bar">
            <span class="back"><i class="fas fa-chevron-left"></i></span>
            <form action="{{ url_for('posts.search_posts') }}" method="GET" autocomplete="off" id="search-form">
              {{ g.search_form.q(class="text-input", placeholder="Search for keywords...", autocomplete="off") }}
            </form>
            <button type="submit" form="search-form">
              <span><i class="fas fa-search"></i></span>
            </button>
          </div>
        </li>
        <li>
          <a class="btn-solid" href="{{ url_for('posts.create_post') }}">
            <i class="fas fa-pencil-alt"></i>
            <span>New Post</span>
          </a>
        </li>
        <li class="background-darken">
          <a href="{{ url_for('main.home') }}">
            {% if request.path == "/home/" %}
              <i class="fas fa-home active"></i>
              <span class="active">Home</span>
            {% else %}
              <i class="far fa-home"></i>
              <span>Home</span>
            {% endif %}
          </a>
        </li>
      </ul>

      <div class="input-field">
        <i class="fas fa-search"></i>
        <form action="{{ url_for('posts.search_posts') }}" method="GET">
          {{ g.search_form.q(class="text-input", placeholder="Search for keywords...", autocomplete="off") }}
        </form>
      </div>

      <div class="sized-box">
        <div class="circle"></div>
      </div>

      <div class="menu-container">
        <div class="profile">
          <img src="{{ g.image_file }}">
        </div>
        <div class="menu">
          <h3>{{ current_user.username }}<br><span>Student</span></h3>
          <ul>
            <li><a href="{{ url_for('users.account') }}"><i class="fas fa-id-card"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
            <li><a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
          </ul>
        </div>
      </div>
    </header>

    <nav class="bottom-navbar">
      {% if request.path == "/home/" %}
        <a class="active">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      {% else %}
        <a href="{{ url_for('main.home') }}">
          <i class="far fa-home"></i>
          <span>Home</span>
        </a>
      {% endif %}

      {% if request.path == "/account/" %}
        <a class="active">
          <i class="fas fa-user"></i>
          <span>Account</span>
        </a>
      {% else %}
        <a href="{{ url_for('users.account') }}">
          <i class="far fa-user"></i>
          <span>Account</span>
        </a>
      {% endif %}

      {% if request.path == "/account/" %}
        <a class="active">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      {% else %}
        <a href="{{ url_for('users.account') }}">
          <i class="far fa-cog"></i>
          <span>Settings</span>
        </a>
      {% endif %}
    </nav>

    <main role="main" class="container">
      {% if total != None %}
        {{ total }}
      {% endif %}
      <div class="row">
        {% block content %}
        {% endblock content %}

        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </main>

    <footer class="footer text-center">
      <div class="row">
        <div class="social-icon text-center">
          <a href="https://www.youtube.com/simbashi" target="_blank"><span><i class="fab fa-youtube"></i></span></a>
          <a href="https://www.instagram.com/shi.simba" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
          <a href="https://www.twitter.com/simba_shi" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
        </div>

        <div class="copy">
          <h6>Copyright © Simba Shi 2020. All rights reserved.</h6>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flashed_message.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>
