{% extends "base.html" %}
{% block content %}
  <div class="col-12" id="main">
    <!-- displays the posts -->
    {% for post in posts %}
      <section class="post">
        <article class="media">
          <a href="{{ url_for('users.user_page', username=post.author.username) }}"><img class="article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}"></a>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 post-author" href="{{ url_for('users.user_page', username=post.author.username) }}">{{ post.author.username }}</a>
              <p class="text-muted">{{ convert_date(current_time, post.date_posted) }}</p>
              <div class="btn-group dropleft">
                <a class="dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="material-icons">more_vert</span>
                </a>

                {% if current_user == post.author %}
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('posts.update_post', post_id=post.id) }}"><span class="material-icons-outlined">edit</span>Edit</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-post-modal{{ post.id }}"><span class="material-icons-outlined">delete</span>Delete</a>
                  </div>
          
                  {% call simple_modal(
                    "delete-post-modal" + post.id | string,
                    "Delete Post?",
                    "Are you sure you want to delete your post? You cannot undo this action.",
                  ) %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete Post">
                    </form>
                  {% endcall %}
                {% else %}
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="#" class="dropdown-item"><span class="material-icons-outlined">report</span><p>Report</p></a>
                  </div>
                {% endif %}
              </div>
            </div>
            <h3><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

        <div class="bottom-text">
          <div class="button-container">
            <label><span class="material-icons-outlined">thumb_up</span></label>
            <span>{{ post.upvotes | count }}</span>
          </div>
          <div class="button-container">
            <a href="{{ url_for('posts.post', post_id=post.id) }}"><span class="material-icons-outlined">comment</span></a>
            <span>{{ post.comments | count }}</span>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock content %}
