<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
  <meta name="theme-color" content="#02AD98">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/login_signup.css">
  <link rel="stylesheet" href="../static/css/flashed_message.css">

  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/logo_square.png') }}">
  <link rel="shortcut icon" href="#">

  <title>Sign Up | Etonians</title>
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flashed-message active {{ category }}">
          <div class="message-icon">
            {% if category == "danger" %}
              <span class="fas fa-exclamation-circle"></span>
            {% elif category == "warning" %}
              <span class="fas fa-exclamation-triangle"></span>
            {% elif category == "success" %}
              <span class="fas fa-check-circle"></span>
            {% else %}
              <span class="fas fa-info-circle"></span>
            {% endif %}
          </div>
          <div class="message">
            <span>{{ message }}</span>
          </div>
          <div class="close-button">
            <span><i class="fas fa-times"></i></span>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="login-signup-container">
    <div class="forms-container">
      <div class="login-signup">
        <form action="{{ url_for('users.login') }}" class="login-form" method="POST">
          {{ login_form.hidden_tag() }}
          <h2>Log In</h2>

          <div class="input-field">
            <i class="fas fa-envelope"></i>
            {{ login_form.email(class="text-input", placeholder="Email") }}
          </div>

          <div class="input-field password-field">
            <i class="fas fa-lock"></i>
            {{ login_form.password(class="text-input", placeholder="Password") }}
            <i class="fas fa-eye show-password"></i>
          </div>
          
          <div class="submit-btn">
            {{ login_form.submit_login(class="btn-solid") }}
          </div>
        </form>

        <form action="{{ url_for('users.register') }}" class="signup-form" method="POST">
          {{ signup_form.hidden_tag() }}
          <h2>Sign Up</h2>

          <div class="input-container">
            {% if signup_form.username.errors %}
              <div class="input-field input-error">
                <i class="fas fa-user"></i>
                {{ signup_form.username(class="text-input", placeholder="Username") }}
              </div>
              <div class="invalid-feedback">
                {% for error in signup_form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              <div class="input-field">
                <i class="fas fa-user"></i>
                {{ signup_form.username(class="text-input", placeholder="Username") }}
              </div>
            {% endif %}
          </div>
          
          <div class="input-container">
            {% if signup_form.email.errors %}
              <div class="input-field input-error">
                <i class="fas fa-envelope"></i>
                {{ signup_form.email(class="text-input", placeholder="Email") }}
              </div>
              <div class="invalid-feedback">
                {% for error in signup_form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                {{ signup_form.email(class="text-input", placeholder="Email") }}
              </div>
            {% endif %}
          </div>

          <div class="input-container">
            {% if signup_form.password.errors %}
              <div class="input-field input-error password-field">
                <i class="fas fa-lock"></i>
                {{ signup_form.password(class="text-input", placeholder="Password") }}
                <i class="fas fa-eye show-password"></i>
              </div>
              <div class="invalid-feedback">
                {% for error in signup_form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              <div class="input-field password-field">
                <i class="fas fa-lock"></i>
                {{ signup_form.password(class="text-input", placeholder="Password") }}
                <i class="fas fa-eye show-password"></i>
              </div>
            {% endif %}
          </div>

          <div class="input-container">
            {% if signup_form.confirm_password.errors %}
              <div class="input-field input-error password-field">
                <i class="fas fa-user-lock"></i>
                {{ signup_form.confirm_password(class="text-input", placeholder="Confirm password") }}
                <i class="fas fa-eye show-password"></i>
              </div>
              <div class="invalid-feedback">
                {% for error in signup_form.confirm_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              <div class="input-field password-field">
                <i class="fas fa-user-lock"></i>
                {{ signup_form.confirm_password(class="text-input", placeholder="Confirm password") }}
                <i class="fas fa-eye show-password"></i>
              </div>
            {% endif %}
          </div>

          <!-- <label>Your Block</label>
          <select class="form-control form-control-lg" name="year-group">
            <option value="F">F</option>
            <option value="E">E</option>
            <option value="D">D</option>
            <option value="C">C</option>
            <option value="B">B</option>
          </select> -->
          
          <div class="submit-btn">
            {{ signup_form.submit_register(class="btn-solid") }}
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>One of us?</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, corporis?</p>
          <button class="btn-transparent" id="login-btn">Log In</button>
        </div>
        <img src="../static/assets/teacher_blackboard.svg">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, corporis?</p>
          <button class="btn-transparent" id="signup-btn">Sign Up</button>
        </div>
        <img src="../static/assets/teacher.svg">
      </div>
    </div>
  </div>
  <span id="is-login-page">{{ is_login_page }}</span>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flashed_message.js') }}"></script>
  <script src="{{ url_for('static', filename='js/login_signup.js') }}"></script>
</body>
</html>
